DB_HOST=mysql
DB_NAME=mihas_blog
DB_USER=mihas_blog
DB_PASS=CHANGE_ME_STRONG_PASSWORD
ADMIN_SECRET_KEY=CHANGE_ME_TO_A_RANDOM_SECRET
API_KEY=CHANGE_ME_TO_A_RANDOM_API_KEY
SITE_URL=http://localhost:8080
